<nav class="navbar">
  <div class="navbar-left">
    <a class="navbar-brand" routerLink="/clinic">Поликлиника</a>
  </div>

  <ul class="navbar-links">
    <li><a routerLink="/clinic">Врачи</a></li>

    <ng-container *ngIf="isAuthenticated(); else guestLinks">
      <li><a routerLink="/appointments/form">Мои записи</a></li>
      <li><a href="#" (click)="goToProfile($event)">Профиль</a></li>
      <li><button (click)="logout()" class="logout-btn">Выйти</button></li>
    </ng-container>

    <ng-template #guestLinks>
      <li><a routerLink="/login">Вход</a></li>
      <li><a routerLink="/register">Регистрация</a></li>
    </ng-template>
  </ul>
</nav>
